extends ../../_layouts/default

block title
    title #mathboxjs - Page 1

block content
    - var postData = [{"date":"9-22-2014","title":"Animated Area Under the Curve in HTML","desc":"There are a lot of JavaScript libraries used for drawing mathematical curves in HTML. However, I have yet to find one that allows me to animate the area under the curve. Using MathBox.js, It's possible","tags":{"#mathematics":"/filter/mathematics/1","#calculus":"/filter/calculus/1","#javascript":"/filter/javascript/1","#mathboxjs":"/filter/mathboxjs/1"},"banner":"http://goo.gl/QVUAg0","url":"/posts/9-22-2014-animated-area-under-the-curve-in-html/animated-area-under-the-curve-in-html"}]
    - for( var i = 0; i < 1; i++ ) {
        .row
            .col-md-3
            .col-md-6
                .well.well-lg
                    .jumbotron.post-banner
                        a( href=postData[ i ].url )
                            img.img-responsive( src=postData[ i ].banner )
                    h1.post-title
                        a( href=postData[ i ].url )
                            != postData[ i ].title
                    h6.post-date: != postData[ i ].date
                    h4.post-description: != postData[ i ].desc
                    h6.post-tags
                        - for( var hashtag in postData[ i ].tags ) {
                            a.hashtag( href=postData[ i ].tags[ hashtag ] ): != hashtag + ' '
                        - }
                    - var postComments = postData[ i ].url + '#disqus_thread'
                    h6
                        a( href=postComments )
            .col-md-3
    - }
    - if( 1 !== 1 ) { // Check if we only have one pagination
        .text-center
            ul.pagination.center-block
                - for( var i = 0; i < 1; i++ ) {
                    - var pageLink;
                    - if( i === 0 ) {
                        - pageLink = '/filter/mathboxjs/1';
                    - } else {
                        - pageLink = '/filter/mathboxjs/' + ( i + 1 );
                    - }
                    - if( i === 0 ) {
                        li.active
                            a( href=pageLink ): != i + 1
                    - } else {
                        li 
                            a( href=pageLink ): != i + 1
                    - }
                - }
    - }