extends ../../_layouts/default

block title
    title #polymer - Page 1

block content
    - var postData = [{"date":"11-5-2014","title":"Mathchat Dev Blog 1","desc":"I made my first real web app! Here I'll talk about Platform as a Service, Node.js, Polymer, and other cool stuff.","tags":{"#mathchat-dev-blog":"/filter/mathchat-dev-blog/1","#nodejs":"/filter/nodejs/1","#polymer":"/filter/polymer/1","#web-development":"/filter/web-development/1"},"banner":"http://goo.gl/RIS7iR","url":"/posts/11-5-2014-mathchat-dev-blog-1/mathchat-dev-blog-1"}]
    - for( var i = 0; i < 1; i++ ) {
        .row
            .col-md-3
            .col-md-6
                .well.well-lg
                    .jumbotron.post-banner
                        a( href=postData[ i ].url + '.html' )
                            img.img-responsive( src=postData[ i ].banner )
                    h1.post-title
                        a( href=postData[ i ].url + '.html' )
                            != postData[ i ].title
                    h6.post-date: != postData[ i ].date
                    h4.post-description: != postData[ i ].desc
                    h6.post-tags
                        - for( var hashtag in postData[ i ].tags ) {
                            - var tagUrl = postData[ i ].tags[ hashtag ] + '.html';
                            a.hashtag( href=tagUrl ): != hashtag + ' '
                        - }
                    - var postComments = postData[ i ].url + '.html#disqus_thread'
                    h6
                        a( href=postComments )
            .col-md-3
    - }
    - if( 1 !== 1 ) { // Check if we only have one pagination
        .text-center
            ul.pagination.center-block
                - for( var i = 0; i < 1; i++ ) {
                    - var pageLink;
                    - if( i === 0 ) {
                        - pageLink = '/filter/polymer/1.html';
                    - } else {
                        - pageLink = '/filter/polymer/' + ( i + 1 ) + '.html';
                    - }
                    - if( i === 0 ) {
                        li.active
                            a( href=pageLink ): != i + 1
                    - } else {
                        li 
                            a( href=pageLink ): != i + 1
                    - }
                - }
    - }

block customScripts
    script.
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'jermsblog'; // required: replace example with your forum shortname
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());