extends %s_layouts/default

block title
    title %s

block content
    - var postData = %j
    - for( var i = %d; i < %d; i++ ) {
        .row
            .col-md-3
            .col-md-6
                .well.well-lg
                    .jumbotron.post-banner
                        a( href=postData[ i ].url )
                            img.img-responsive( src=postData[ i ].banner )
                    h1.post-title
                        a( href=postData[ i ].url )
                            != postData[ i ].title
                    h4.post-description: != postData[ i ].desc
                    h5.post-date: != postData[ i ].date
                    h6.post-tags
                        - for( var hashtag in postData[ i ].tags ) {
                            a.hashtag( href=postData[ i ].tags[ hashtag ] ): != hashtag + ' '
                        - }
            .col-md-3
    - }
    - if( %d !== 1 ) { // Check if we only have one pagination
        .text-center
            ul.pagination.center-block
                - for( var i = 0; i < %d; i++ ) {
                    - var pageLink;
                    - if( i === 0 ) {
                        - pageLink = '%s';
                    - } else {
                        - pageLink = '%s' + ( i + 1 );
                    - }
                    - if( i === %d ) {
                        li.active
                            a( href=pageLink ): != i + 1
                    - } else {
                        li 
                            a( href=pageLink ): != i + 1
                    - }
                - }
    - }