extends ../../_layouts/default

block title
    title #mobile - Page 1

block content
    - var postData = [{"date":"9-16-2014","title":"Getting Started With Android Development","desc":"Android is the leading platform in the mobile market. Developing apps is fun, and with Android development being available to all OSs, I'll show you how to get started.","tags":{"#android":"/filter/android/1","#java":"/filter/java/1","#programming":"/filter/programming/1","#mobile":"/filter/mobile/1"},"banner":"http://goo.gl/fSV1oN","url":"/posts/9-16-2014-getting-started-with-android-development/getting-started-with-android-development"}]
    - for( var i = 0; i < 1; i++ ) {
        .row
            .col-md-3
            .col-md-6
                .well.well-lg
                    .jumbotron.post-banner
                        a( href=postData[ i ].url )
                            img.img-responsive( src=postData[ i ].banner )
                    h1.post-title
                        a( href=postData[ i ].url )
                            != postData[ i ].title
                    h4.post-description: != postData[ i ].desc
                    h5.post-date: != postData[ i ].date
                    h6.post-tags
                        - for( var hashtag in postData[ i ].tags ) {
                            a.hashtag( href=postData[ i ].tags[ hashtag ] ): != hashtag + ' '
                        - }
            .col-md-3
    - }
    - if( 1 !== 1 ) { // Check if we only have one pagination
        .text-center
            ul.pagination.center-block
                - for( var i = 0; i < 1; i++ ) {
                    - var pageLink;
                    - if( i === 0 ) {
                        - pageLink = '/filter/mobile/1';
                    - } else {
                        - pageLink = '/filter/mobile/' + ( i + 1 );
                    - }
                    - if( i === 0 ) {
                        li.active
                            a( href=pageLink ): != i + 1
                    - } else {
                        li 
                            a( href=pageLink ): != i + 1
                    - }
                - }
    - }